asgiref==3.2.5
beautifulsoup4==4.8.2
certifi==2022.12.7
chardet==3.0.4
Django==3.0.4
django-bootstrap4==1.1.1
django-crispy-forms==1.9.0
djangorestframework==3.11.0
idna==2.9
pytz==2019.3
requests==2.23.0
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.25.8
